
{% block content%}
<style>
    .horizontal {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

<!--li a{-->
<!--  float: left;-->
<!--  border-right:1px solid #bbb;-->
<!--}-->

<!--li:last-child {-->
<!--  border-right: none;-->
<!--}-->

<!--li a {-->
<!--  display: block;-->
<!--  color: white;-->
<!--  text-align: center;-->
<!--  padding: 14px 16px;-->
<!--  text-decoration: none;-->
<!--  background-color: #333;-->

<!--}-->

<!--li a:hover:not(.active) {-->
<!--  background-color: #111;-->
<!--}-->

.active {
  background-color: #4CAF50;
}
</style>

<ul class="horizontal" >
  <li><a class="active" href="javascript:void(0)">Home</a></li>
  <li><a href="javascript:void(0)">News</a></li>
  <li><a href="javascript:void(0)">Contact</a></li>
  <li class="rightli" style="float:right"><a href="javascript:void(0)">About</a></li>
</ul>
{% endblock%}